[submodule "GreenSky/vendor/spdlog"]
	path = GreenSky/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GreenSky/GreenSky/vendor/glfw"]
	path = GreenSky/GreenSky/vendor/glfw
	url = https://github.com/glfw/glfw
